html, body {
    height: 100%;
    background-color: #8f8f8f;
    font-family: Roboto, sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: grey;
}

input {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

img {
    max-height: 200px;
    max-width: 200px;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
